body{
    background-image: url(background/bgimage.jpg);
  }
  
  .container{
    width: 80%;
    background-color: #C0C0C0;
    margin: auto;
    padding-left: 10%;
  }
  .container-title{
    text-align: center;
    padding-left: 0%;
  }
  iframe{
    margin: auto;
  }
  .container-song{
    padding-left: 0%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    border: solid black; 
  }
  .red-text{
    color: red;
    text-align: center;
    padding-left: 0%;
    background-color: #A9A9A9;
  }
  iframe{
    border: solid black 1px;
  }
  .captext{
    text-indent: 2em;
    font-size: 1.75em;
    padding-left: 0%;
  }