.top-text{
  background-color: linen;
}

img#apod_img_id {
  width: 300px;
  border-radius: 5px;
  margin: auto;
}
.card {
  width: 80%;
  margin: auto;
}

a.btn {
  width: 220px;
  margin-left: 37%;
}