#flag{
    height: 400px;
    width: 1000px;
}
#stars{
    font-size: 22px;
    color: white;
    text-align: center;

}
#starcell{
    background-color: blue;
    width: 35%;
    border-color: black;
    border-width: 10px;
}

.red_stripe{
    background-color: red;
}

.white_stripe{
    background-color: white;
}

.stripes{
    height: 50px;
    width: 100%;
}
